.opponents-title {
    padding: 0 0 20px 0;
    cursor: default;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action-buttons>Button {
    margin: 3px;
}

tr>th,
tr>td {
    color: cornsilk !important;
}

tr:hover>th,
tr:hover>td {
    color: white !important;
}

tr>td {
    font-weight: 600;
}

.navbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbuttons>.yellow {
    margin: 5px;
}

.top-hr {
    color: white;
    opacity: 100%;
    border-width: 2px;
}

.oneline {
    white-space: nowrap;
}