.seasons-title {
  padding: 0 0 20px 0;
  cursor: default;
}

.archive-title {
  padding: 0 0 10px 0;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.action-buttons > Button {
  margin: 0 10px !important;
}

.column-title {
  font-weight: 700 !important;
  color: cornsilk !important;
  font-size: 1.5rem !important;
}

td {
  vertical-align: middle;
}

tr > th,
tr > td {
  color: cornsilk !important;
}

tr:hover > th,
tr:hover > td {
  color: white !important;
}

tr > td {
  font-weight: 600;
}

.navbuttons > .yellow {
  margin: 5px !important;
}

.top-hr {
  color: white;
  opacity: 100%;
  border-width: 2px;
}

.modal-hr {
  margin: 23px 0 0 0;
}

.modal-hr2 {
  margin: 20px 0 15px 0 !important;
}

.season-adder {
  margin: 20px 20px 40px 20px;
  padding: auto;
}

Table > * > tr > td.last-col {
  width: 50px !important;
}

.season-adder Button {
  min-width: 110px;
}

.always {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.import-export-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.import-export {
  margin: 0 10px;
}



@media (max-width: 768px) {
  .action-buttons {
    flex-direction: column !important;
  }
  .action-buttons > Button:first-child {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 370px) {
  .column-title {
    font-weight: 600 !important;
    font-size: calc(1rem + .3vw) !important;
  }
  .team-info.coaches > * > .wsd {
    font-size: .75rem;
    padding: 6px;
  }
  .team-card-main {
    font-size: .85rem;
  }
}

/* forcing existing styles into wordpress */
.yellow {
  text-decoration: none !important;
  color: #ffbf2a !important;
}
