.seasons-title {
    padding: 0 0 20px 0;
    cursor: default;
  }

.archive-title {
  padding: 0 0 10px 0;
}
  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .action-buttons > Button {
    margin: 3px;
  }

  tr > th, tr > td {
    color: cornsilk !important;
  }

  tr:hover > th, tr:hover > td {
    color: white !important;
  }

  .navbuttons > .yellow {
    margin: 5px;
  }

  .top-hr {
    color: white;
    opacity: 100%;
    border-width: 2px;
  }