.add-team-btn > Button {
    margin: 10px;
}
.teams-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ffbf2a;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 10px;
    flex: 1 0 calc(100% / 3 - 20px);
    max-width: calc(100% / 3 - 20px);
  }
  
  @media (max-width: 1501px) {
    .team-card {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  @media (max-width: 1001px) {
    .team-card {
      flex-basis: calc(100% - 20px);
      max-width: calc(100% - 20px);
    }
  }

.team-buttons {
  display: flex;
  justify-content: space-evenly;
}

.team-card p {
    margin-top: 7px;
}

@media screen and (max-width: 500px) {
    .team-card {
      flex-direction: row;
    }
    .team-info {
      order: 1;
      margin-left: 7px;
      
    }
    .team-buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      order: 2;
      margin-top: 5px;
      margin-right: 5px;
    }
    .team-buttons > Button {
        margin: 5px;
    }
  }