.add-team-btn > Button {
  margin: 10px;
}

.teams-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.coaches-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.coach-pic {
  width: 90% !important;
}

.coach-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-card {
  position: relative;
  background-color: #1d341db8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #9c6900;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 10px;
  flex: 1 0 calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);
  transition: background-color 0.3s ease-in-out;
}

.coach-card-sports {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.coach-card-sports > p > Button {
  padding: 3px 5px 3px 5px !important;
}


.big {
  min-width: 120%;
  padding-left: 15% !important;
}

.big button {
  width: 100%;
}

.sports-row {
  min-height: 160px;
}

.add-coach-modal-fit {
  padding-bottom: 0px !important;
}

.coach-card-sports p {
  border-radius: 10px;
}

.coach-card-info {
  padding: 5px 30px 5px 30px !important;
  word-break: break-all;
  min-height: 90px;
}

.coach-card-main {
  min-height: 600px !important;
}

.character-count {
  font-size: 1.2vh;
  text-align: right;
}

.team-card {
  background-color: #1d341db8;
  display: flex;
  flex-direction: column;
  border: 2px solid #9c6900;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 10px;
  flex: 1 0 calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);
  transition: background-color 0.3s ease-in-out;
}

.team-card:hover, .coach-card:hover {
  background-color: #1627168f;
}

.Col-xs-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 10px 0px;
}

.team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1px 10px;
}

.team-links {
  white-space: nowrap;
}

.team-title-area, .coach-name-area {
  padding-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -16px;
  height: 50px !important;

}
.coach-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.add-coach-btn {
  margin-bottom: 10px;
}

.team-buttons {
  display: flex;
  justify-content: space-evenly;
}



.team-card p, .coach-card p {
  margin: 10px;
  text-align: left;
}

.team-pic,
.team-page {
  max-height: 50px !important;
  display: flex;
  flex-wrap: wrap;
}

.set-coaches {
  margin: 15px auto 0 auto;
  width: 100%;
}

.coach-split {
  display: flex;
  justify-content: space-between;
  
}

.coach-split > div {
  width: 48%;
}

.coach-select {
  margin: 0 10px 0 auto;
}

.coach-split > div > .coach-select {
  width: 95%;
}

.multi-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tri-split {
  display: flex;
  justify-content: space-between;
}

.tri-split > div {
  width: 31%;
}

.left-delete {
  margin-right: "auto";
}

.teamPic {
  max-height: 50px !important;
  transition: transform 0.2s ease-in-out;
}

.teamPic:hover {
  transform: scale(3);
}

a.team-links {
  color: rgb(158, 184, 240) !important;
  text-decoration: none !important;
}

.coaches {
  padding-top: 7px !important;
}

.boys-team {
  background-color: rgba(81, 81, 218, 0.338);
}

.girls-team {
  background-color: rgba(247, 69, 99, 0.386);
}

.other-team {
  background-color: rgba(245, 242, 242, 0.281);
}

.cieling {
  margin-top: 5px;
}
.cieling2 {
  margin-top: 15px;
}
.radio {
  display: flex;
  justify-content: space-between;
  margin: auto auto 5px auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio2 {
  display: flex;
  justify-content: space-around;
  margin: auto auto 5px auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
  flex-direction: row;
  align-items: center;
}

.add-btn {
  margin-top: auto;
}

.subt-btn {
  padding: 7px 14px !important;
  margin: 0;
}

.added-row {
  margin: 5px 0;
}

.coach-rows {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.coach-rows .added-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#coachPic {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (max-width: 1501px) {
  .team-card, .coach-card {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 1001px) {
  .team-card, .coach-card {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 515px) {
  .team-card, .coach-card {
    flex-direction: column;
  }
  .team-info {
    order: 1;
  }
  .team-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    order: 2;

    margin-top: 5px;
  }
  .team-buttons > Button {
    margin: 5px !important;
    width: 91% !important;
  }
  .team-buttons > a {
    margin: 5px;
    width: 95% !important;
  }
  .team-buttons > a > Button {
    width: 95% !important;
  }
}

@media screen and (max-width: 375px) {
  .team-name {
    font-size: 6vw;
  }
}