.add-team-btn > Button {
  margin: 10px;
}

.teams-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.team-card {
  background-color: #1d341db8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #9c6900;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 10px;
  flex: 1 0 calc(100% / 3 - 20px);
  max-width: calc(100% / 3 - 20px);
  transition: background-color 0.3s ease-in-out;
}

.team-card:hover {
  background-color: #1627168f;
}

.Col-xs-3 {
  text-align: left !important;
  margin: 1px 10px 0px;
}

.team-info {
  text-align: left;
  margin: 1px 10px;
}

.team-title-area {
  margin: 10px 0 -10px 0;
}

.team-buttons {
  display: flex;
  justify-content: space-evenly;
}

.team-card p {
  margin: 10px;
  text-align: left;
}

.team-pic, .team-page {
  max-height: 50px !important;
  display: flex;
  flex-wrap: wrap;
}

.teamPic {
  max-height: 50px !important;
}

a.team-links {
  color: rgb(158, 184, 240) !important;
  text-decoration: none!important;
}

.coaches {
  padding-top: 7px !important;
}

.boys-team {
  background-color: blue;
}

.girls-team {
  background-color: red;
}

.other-team {
  background-color: white;
}

@media (max-width: 1501px) {
  .team-card {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 1001px) {
  .team-card {
    flex-basis: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 500px) {
  .team-card {
    flex-direction: column;
  }
  .team-info {
    order: 1;
  }
  .team-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    order: 2;

    margin-top: 5px;
  }
  .team-buttons > Button {
    margin: 5px !important;
    width: 91% !important;
  }
  .team-buttons > a {
    margin: 5px;
    width: 95% !important;
  }
  .team-buttons > a > Button {
    width: 95% !important;
  }
}
